div.form-group
  label(for="first_name") First Name
  input.form-control(type="text" id="first_name" name="first_name" value=reader.first_name placeholder="First Name")
div.form-group
  label(for="title") Last Name
  input.form-control(type="text" id="last_name" name="last_name" value=reader.last_name placeholder="Last Name")
div.form-group
  button.btn.btn-primary(type="submit") Save
