/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.text{
  white-space: nowrap;
  overflow: auto;
  width: auto;
  text-overflow: ellipsis;
  transition: white-space 1s ease-in;
}

.text:hover{
  cursor:context-menu;
}

.text-show{
  white-space: normal;
  overflow: auto;
}

h1.quote{
  text-shadow: 10px 10px 9px rgba(240, 240, 240, 0.2);
  color: rgba(220, 220, 220, 0.9);
}

.sub-img{
  width: 25%;
  margin: 4%;
}

.sub-img-author{
  width: 80%;
  margin: 5%;
}

.sub-img-book{
  width: 80%;
  margin: 5%;
}

textarea{
  height: 150px;
}
