extends layout

block content

  .row.column
    p.All Authors
  .row.small-up-1.medium-up-2.large-up-3
    .column
      .callout
        p Author 1
        p
          img(src='http://placehold.it/400x370&text=Author Portraits', alt='author one')
        p.lead First Name + Last Name
        p.subheader Books 1 + Books 2
        p.subheader
          | Biography: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
          
    .column
      .callout
        p Author 2
        p
          img(src='http://placehold.it/400x370&text=Author Portraits', alt='author two')
        p.lead First Name + Last Name
        p.subheader Books 2
        p.subheader
          | Biography: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
          
    .column
      .callout
        p Author 3
        p
          img(src='http://placehold.it/400x370&text=Author Portraits', alt='author three')
        p.lead First Name + Last Name
        p.subheader Books 3 
        p.subheader
          | Biography: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
