extends layout

block content

  .row.column
    p.All Books
  .row.small-up-1.medium-up-2.large-up-3
    .column
      .callout
        p Book One
        p
          img(src='http://placehold.it/400x370&text=Book One Cover', alt='Book one')
        p.lead Author A
        p.subheader genre
        p.subheader
          | About: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
    .column
      .callout
        p Book One
        p
          img(src='http://placehold.it/400x370&text=Book One Cover', alt='Book one')
        p.lead Author A
        p.subheader genre
        p.subheader
          | About: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
    .column
      .callout
        p Book One
        p
          img(src='http://placehold.it/400x370&text=Book One Cover', alt='Book one')
        p.lead Author A
        p.subheader genre
        p.subheader
          | About: Ut deep v iPhone delectus, art party street art nostrud consectetur affogato plaid cray tofu pour-over hella aute.
          
