extends layout

block content

  form(action="/authors/create", method="post")

    .row
      .medium-6.columns
        .callout
          label
            | First Name
            input(type='text', name='first_name', placeholder='Marijn')

          label
            | Last Name
            input(type='text', name='last_name', placeholder='Haverbeke')

          label
            | Portrait URL
            input(type='text', name='portrait_url', placeholder='http://2011.ffconf.org/images/speakers/schedule/marijn.jpg')
            
          label
            | Biography
            textarea(name='biography', placeholder="Marijn Haverbeke is a programming language enthusiast and polyglot. He's worked his way from trivial BASIC games on the Commodore, through a C++ phase, to the present where he mostly hacks on database systems and web APIs in dynamic languages. He recently won the JS1K—JavaScript demo in 1024 bytes—contest, and is the author of a wide range of open-source software.")
          
      .medium-6.columns    
        .callout
          .small-8.columns 
            label
              | Select Exisiting Books
              select.bookSelection
                for book in books
                  option(value=book.id)=book.title
          .small-4.columns 
            br
            a.success.button.addBook Add Book
          hr
        
        .callout
          .small-8.columns 
            label
            | Books:
            select(multiple='', name='book').addedBook
              
          .small-4.columns 
            br
            br
            br
            a.alert.button.removeBook Remove Book
          hr
          
        .callout
          input.expanded.success.large.button(type='submit', value='Add a New Author')
        
