extends layout

block content

  form(action="/books/create", method="post")

    .row
      .medium-6.columns
        .callout
          label
            | Title
            input(type='text', name='title', placeholder='To Kill a Mockingbird')

          label
            | Genre
            input(type='text', name='genre', placeholder='American Literature')
            
          label
            | Cover Image Url
            input(type='text', name='cover', placeholder='http://t2.gstatic.com/images?q=tbn:ANd9GcRiipbCPZtzzrw2M9GSXFpD94NDqs62jBZ81ZxP411OorUCqVLc')
            
          label
            | Description
            textarea(name='description', placeholder='To Kill a Mockingbird is a novel by Harper Lee published in 1960. It was immediately successful, winning the Pulitzer Prize, and has become a classic of modern American literature.')
          
      .medium-6.columns    
        .callout
          .small-8.columns 
            label
              | Select Exisiting Authors
              select.authorSelection
                for author in authors
                  option(value=author.id)=author.full_name
          .small-4.columns 
            br
            a.success.button.addAuthor Add Author
          hr
        
        .callout
          .small-8.columns 
            label
            | Authors:
            select(multiple='', name='author').addedAuthor
              
          .small-4.columns 
            br
            br
            br
            a.alert.button.removeAuthor Remove Author
          hr
          
        .callout
          input.expanded.success.large.button(type='submit', value='Add a New Book')
        
