doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/errors/1") Handling Synchronous Errors
      ||
      a(href="/errors/2") Handling Node-Style Errors
      ||
      a(href="/errors/3") Handling ErrorEvents
      ||
      a(href="/errors/4") Handling Rejected Promises
      ||
      a(href="/errors/5") Handling Errors in `then` functions
    block content
